.yout-app-preview {
    .yout-app-pagi-button {
        background-color: #fff;
        border-radius: 50%;
        opacity: 0.8;
        z-index: 10;
        height: 40px;
        width: 40px;
        -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
        -webkit-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
        position: absolute;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

        .icon {
            width: 12px;
            height: 12px;
        }
    }

    .yout-app-pagi-button-previous {
        left: 0;
        top: calc(50% - 20px);
        margin: 0 5px;
    }

    .yout-app-pagi-button-next {
        right: 0;
        top: calc(50% - 20px);
        margin: 0 5px;
    }

    .yout-app-pagi-button-down {
        bottom: 0;
        left: calc(50% - 20px);
        margin: 5px 0;
    }

    .yout-app-pagi-button-up {
        top: 0;
        left: calc(50% - 20px);
        margin: 5px 0;
    }

    .yout-app-pagi-button:hover {
        opacity: 1;
    }

    .yout-app-pagi-button:active {
        transform: scale(0.9);
        transition: 0.1s;
    }
}
