.yout-app-preview {
    .yout-app-subscribe-button {
        display: flex;
        align-items: stretch;
        font-size: 13px;

        a {
            color: #fff;
            text-decoration: none;
        }

        .youtube-logo {
            background-color: #e62117;
            color: #fff;
            padding: 3px 6px;
            display: flex;
            align-items: center;
            border-radius: 2px 0 0 2px;
            cursor: pointer;

            .icon-youtube {
                width: 15px;
                height: 15px;
                margin-right: 6px;
            }
        }

        .subscribers-counter {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 6px;
            border-top: 1px solid #ccc;
            border-right: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            border-radius: 0 2px 2px 0;
            background-color: #fff;
            color: #737373;
        }
    }
}
