.yout-app-templates-preview {
    .templates-footer-pagination {
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: stretch;

        .item {
            text-align: center;
            width: 30px;
            font-size: 12px;
            padding: 5px 10px;
            margin: 0 3px;
            border-radius: 2px;
            color: #aaa;
            line-height: 1;
            background: rgba(175, 175, 175, 0.1);
            opacity: 1;
            -webkit-transition: color 0.3s ease;
            -o-transition: color 0.3s ease;
            transition: color 0.3s ease;
            cursor: pointer;
        }

        .item-selected {
            background: rgba(175, 175, 175, 0.3);
        }

        .item:hover {
            background: rgba(175, 175, 175, 0.3);
        }

        .previous,
        .previous:hover {
            background-image: url('./back.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 8px;
        }

        .next,
        .next:hover {
            background-image: url('./next.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 8px;
        }
    }
}
